body {
	font-size: 1.2em;
	font-family: sans-serif;
	box-sizing: border-box;
	background: linear-gradient(whitesmoke, white) no-repeat;
}


h1 {
	text-align: center;
}

#input {
	width: 100%;
	resize: vertical;
	font-size: 1.2em;
}

#result {
	display: grid;
    grid-template-columns: repeat(2, 50%);
}

.foot {
	font-size: 0.8em;
	color: gray;
	position: absolute;
	bottom: 10px;
}